django==2.2.20
pillow
mysqlclient
djangorestframework-jwt
djangorestframework==3.11
markdown
django-filter
django-crispy-forms
django-reversion
django-formtools
django-import-export>=0.5.1
future
httplib2
six
requests
coreapi
django-cors-headers
xlwt
xlsxwriter
drf-extensions
django-redis
pycryptodome
raven